@media screen and (max-width: 700px) {
    #placeholder {
        display: none;
    }
    .result {
        width: 90%;
        display: flex;
        flex-direction: row;
        background-color: gray;
        color: whitesmoke;
        padding: 10px;
        margin: 10px;
    }
    .result img {
        width: 50px;
    }
    main {
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    button {
        font-size: 1.1em;
        background-color: #1d1f29;
        color: #f8f8ff;
        border-style: solid;
        border-width: 1px;
        border-color: #ff7f50;
        transition-duration: 0.2s;
        padding: 10px;
        margin: 0 auto;
    }
    button:hover {
        background-color: #ff7f50;
    }
    #dataDisplay {
        width: 100%;
    }
    #dataDisplay img {
        width: 100%;
    }
    .marked {
        background-color: #ff7f50;
    }
    .unmarked {
        background-color: transparent;
    }
    
}


@media screen and (min-width: 701px) {

    @keyframes slide {
        0% {margin-left:-300px;}
        100% {margin-left: 0px;}
      }
    @keyframes slideR {
        0% {margin-left:300px;}
        100% {margin-left: 0px;}
      }

    #headInfo {
        display: flex;
        flex-direction: row;
    }
    h1 {
        font-size: 3em;
    }
    hr {
        margin-top: -30px;
        margin-bottom: 30px;
    }
    main {
        display: grid;
        grid-template-columns: 25% 70%;
        grid-gap: 40px;
    }
    #col1 {
        grid-column: 1;

    }
    #col2 {
        grid-column: 2;
    }
    footer p {
        margin-top: 11px;
    }

    #resultsBox, #dataDisplay {
        overflow-y: scroll;
        height: 75vh;
        border: solid 1px #ff7f50;
        width: 100%;        
    }
    .result {
        background-color: gray;
        color: whitesmoke;
        width: 95%;
        position: relative;
        height: 200px;
        margin: 15px auto;
        overflow: hidden;
    }
    .result img {
        width: 100%;
    }
    #hide {
        display: none;
    }
    #dataDisplay img {
        width: 100%;
    }
    /*body {
        overflow: hidden;
    }*/
    #dataDisplay {
        padding: 0 15px;
        animation-name: slideR;
        animation-duration: 1s;
    }
    #resultsBox {
        animation-name: slide;
        animation-duration: 1s;
    }
    button {
        font-size: 1.1em;
        background-color: #1d1f29;
        color: #f8f8ff;
        border-style: solid;
        border-width: 1px;
        border-color: #ff7f50;
        transition-duration: 0.2s;
        padding: 10px;
        margin: 0 auto;
    }

    .marked {
        background-color: #ff7f50;
    }
    .unmarked {
        background-color: transparent;
    }
    #placeholder {
        display: block;
        padding: 25%;
        margin-left: 150px;
    }
}
