body {
    width: 300px;
    margin: 0 auto;
    background-color: #1d1f29;
    color: #ff7f50;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.task-list {
    text-align: left;
    border: 1px solid #ff7f50;
    padding: 5px;
    margin-bottom: 20px;
}
.task-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.checker {
    width: 30px;
    height: 30px;
    margin-top: 9px;
}
